.menu {
  margin: 30px 0;
  .menu__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu__nav {
      h1 {
        height: 40px;
        color: rgb(0, 0, 0);
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }

      ul {
        li {
          color: rgb(0, 0, 0);
          font-family: "Roboto";
          font-size: 14px;
          font-weight: 300;
          line-height: 27px;
          cursor: pointer;
        }

        li:hover {
          color: red;
        }
      }
    }
  }
}
