.selection {
  height: 482px;
  background: url("https://s3-alpha-sig.figma.com/img/52f8/8a0e/ee90cbe8e3a9ad5643ddfb7e3ec75fcc?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pQRVNRn0yDCHFUoSXCXsRTaX406VntmOu63V6tdb81kT1Sh4IKGfGptCa0cySf41Hq1OHJPde~BI~Lv14tKio6hbpZDS7a2v8QkD3rUj~~TZiriMKoBsLk7Q4Bd7tmTVf0HaS50OIB1iyh5a06MmJSAY1dMrT41ZC0hwCqIIcRXVllCkFElvHZHh7mtOg~OLkok6ZVEGrvnBP4j09X~aKm~3bTJrUGNbHrU~JqCqM~SDdY-pA7ed~UUyCEKTuEyQbojhqvsRKh92fPxks72vKvHi5kCs7VXgHcrQiWZbEH73achKY7rdi3vP-eCs4tcQAyJMs0ayGMkaGofDZlagPQ__")
    center/cover;
  display: flex;
  align-items: center;

  .sectionone__content {
    h1 {
      height: 120px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 128px;
      font-weight: 500;
      line-height: 95px;
      text-align: center;
    }

    h4 {
      height: 100px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 28px;
      font-weight: 400;
      line-height: 33px;
      text-align: center;
    }

    .section__btn {
      display: flex;
      justify-content: center;
      .sectionone__block {
        margin-bottom: 40px;
        width: 928px;
        height: 64px;
        border-radius: 30px;
        background: rgb(255, 255, 255);

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .sectionone__mx {
          h6 {
            color: rgb(161, 161, 161);
            font-family: "Roboto";
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
          }

          h3 {
            color: rgb(28, 28, 28);
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
          }

          h2 {
            color: rgb(161, 161, 161);
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
          }
        }

        button {
          width: 168px;
          height: 40px;
          border-radius: 30px;
          background: rgb(236, 28, 36);

          color: rgb(255, 255, 255);
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          gap: 15px;
        }
      }
    }
  }
}
