.selectiontwo {
  height: 482px;
  background: url("https://s3-alpha-sig.figma.com/img/74e7/665c/1e8ae59a4eebeb211ff4997563f6e524?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Tj~BrVJmyA4hm3EHAJLhz25Yho4GFhPhTc7zT7AN9Gj3gBSfekWBb6YOU3O-h2lzEk9KoBha2LPEYzZF1LM0Xofkp~bKWqx6COaCy0mM64GzMGU8F9Rj~YO5KwakPJmNWChF3694Jt8uECPYwEgJMEo~7HtXRwaLfGa137i9uTexGw2Q7js7XkVL5taRKdTiJy0JBJ07jzdhnqMO2nb1JNe~TXRBD-UJHS7D8Pv2Sd4Lv9ZmwaigwVQEY-hZiGPsR0f36Z2847xaC896QW95t2NdA2WgmwRitXhBErpTOBFu4UIpvravDj0q0cr5wE367mqbl1jkoXXo3ey6jq6qrw__")
    center/cover;
  display: flex;
  align-items: center;
  .sectionone__content {
    text-align: center;

    h1 {
      height: 120px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 128px;
      font-weight: 500;
      line-height: 95px;
      text-align: center;
    }

    h4 {
      height: 100px;
      color: rgb(255, 255, 255);
      font-family: "Roboto";
      font-size: 28px;
      font-weight: 400;
      line-height: 33px;
      text-align: center;
    }

    .section__btn {
      display: flex;
      justify-content: center;
      .sectionone__block {
        margin-bottom: 40px;
        width: 928px;
        height: 64px;
        border-radius: 30px;
        background: rgb(255, 255, 255);

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .sectionone__mx {
          h6 {
            color: rgb(161, 161, 161);
            font-family: "Roboto";
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
          }

          h3 {
            color: rgb(28, 28, 28);
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
          }

          h2 {
            color: rgb(161, 161, 161);
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
          }
        }

        button {
          width: 168px;
          height: 40px;
          border-radius: 30px;
          background: rgb(236, 28, 36);

          color: rgb(255, 255, 255);
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          gap: 15px;
        }
      }
    }
  }
}
